/* menu */
.header-inner {
    padding: 0!important;
    margin: 0 !important;
    max-width: unset;
    width: 100%;
}
.custom-logo-link img {
    width: 250px;
    padding-left: 35px;
}
li.menu-item a, #site-footer a {
    color: #000 !important;
    font-size: 16px;
    line-height: 19.2px;
}
li.menu-item {
    padding: 30px 60px;
}
li.menu-item a:hover, .primary-menu li.current-menu-item > a {
    font-weight: 700;
}
li.menu-item a:hover {
    font-size: 14px;
    line-height: 15.6px;
}
#site-footer a:hover, .primary-menu li.current-menu-item > a , li.menu-item a:hover {
    text-decoration: none !important;
}
li.menu-item:last-child {
    background-color: #DC9F96;
}
li.menu-item:last-child:hover {
    background-color: #C02E44;
}
li.menu-item:last-child a {
    color: #fff !important;
}
li.menu-item:last-child a:hover {
    font-weight: unset;
    font-size: 16px;
    line-height: 19.2px;
}

/* footer */
#site-footer .section-inner {
    display: flex;
    justify-content: center;
}
#site-footer {
    border: none !important;
    margin : 0 !important;
    padding: 20px;
}

/* titres */
h1 {
    font-weight: 800 !important;
    font-size: 38px !important;
    text-align: center !important;
    font-family: 'Syne', sans-serif !important;
}
h3 {
    font-weight: 700 !important;
    font-size: 30px !important;
    font-family: 'Syne', sans-serif !important;
}

/* forms */
/* contact */
.wpforms-form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.wpforms-field-container {
    width: 100% !important;
}
label {
    font-weight: 500 !important;
}
input {
    height: 70px !important;
}
input, textarea {
    border-radius: 7px !important;
    border: none !important;
}
input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #C02E44 !important;
}
button:after {
    content: none !important;
}
textarea {
    height: 235px !important;
}
.wpforms-submit {
    background-color: #E0B9B4 !important;
    height: 55px !important;
    width: 200px !important;
}
.wpforms-submit:hover {
    background-color: #C02E44 !important;
}
.wpforms-confirmation-container-full {
    background-color: #DC9F96 !important;
    border: none !important;
    border-radius: 7px !important;
    text-align: center;
    font-weight: 500;
}

/* order */
.form-container, .top-form-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-form-container{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
}
.top-form-container, .bottom-form-container, .wpcf7-submit {
    width: 100%;
}
.top-form-content p, .bottom-form-container {
    display: flex;
    justify-content: space-between;
}
.top-form-container label:nth-of-type(1):before {
    content: 'FRAISE';
    background: url(../../../uploads/2024/06/fraise.png);
    background-size: cover;
}
.top-form-container label:nth-of-type(2):before {
    content: 'PAMPLE MOUSSE';
    background: url(../../../uploads/2024/06/pamplemousse.png);
    background-size: cover;
}
.top-form-container label:nth-of-type(3):before {
    content: 'FRAM BOISE';
    background: url(../../../uploads/2024/06/framboise.png);
    background-size: cover;
}
.top-form-container label:nth-of-type(4):before {
    content: 'CITRON';
    background: url(../../../uploads/2024/06/citron.png);
    background-size: cover;
}
.top-form-container label:before {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    height: 160px;
    width: 240px;
    padding: 20px;
}
.top-form-container label span {
    width: 50px;
}
.right-form, .left-form {
    width: 50%;
}
.left-form {
    padding-right: 40px;
    border-right: 1px solid #fff;
}
.right-form {
    padding-left: 40px;
}
.top-form-container h3, .bottom-form-container h3 {
    margin: 0;
    padding-bottom: 20px;
}
.bottom-form-container {
    margin: 40px 0;
}
.top-form-container h3, .bottom-form-container h3, .form-container label {
    color: #fff;
}
.form-container input {
    margin-top: 10px;
}
.wpcf7-submit {
    text-transform: capitalize !important;
    text-decoration: none !important;
}

/* Responsive */
@media (max-width: 1024px) {
    .header-inner {
        padding: 30px 0 !important;
        margin: 0 !important;
        max-width: unset;
        width: 100%;
    }
    .custom-logo-link img {
        width: 250px;
        padding-left: 10px;
    }
    .mobile-nav-toggle {
        padding: 0 60px !important;
        justify-content: center !important;
    }
    .toggle-icon {
        color:#C02E44;
    }
    .toggle-text {
        display: none;
    }
    .mobile-nav-toggle:hover, .toggle {
        background-color: #DC9F96 !important;
    }
    .section-inner {
        max-width: unset !important;
        width: 100% !important;
        margin: 0;
    }
    .ancestor-wrapper a {
        font-size: 16px !important;
        text-decoration: none !important;
    }
    li.menu-item a:hover, li.menu-item:last-child:hover, li.menu-item:last-child a:hover, .primary-menu li.current-menu-item > a:hover {
        font-size: 16px !important;
        line-height: unset !important;
        font-weight: 700 !important;
    }
    li.menu-item {
        padding: 10px ;
    }
    .top-form-content p, .bottom-form-container {
        flex-wrap: wrap;
    }
    .top-form-content p label {
        flex-direction: row;
        min-width: 50%;
    }
    .top-form-content p label::before {
        margin-right: 50px;
    }
    .left-form, .right-form {
        width: 100%;
        border: none;
        padding: 0;
    }
}